<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Okuro - Inicio</title>
    <link rel="icon" href="/static/imagenes/logo.ico" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>boots}}
    <!-- estilos especiales -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <!--Color picker-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.css"
        rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row all-heigh">

            {{> aside this}}

            <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4">

                {{> header this titulo='Crea tu grupo'}}

                {{#if message}}
                    <div class="alert alert-warning" role="alert">
                        {{message}}
                    </div>
                {{/if}}
                <form class="needs-validation" novalidate="" method="post" action="/team/add">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="username" class="form-label">Nombre del Grupo</label>
                            <div class="input-group">
                                <input name="nombreGrupo" type="text" class="form-control" id="username"
                                    placeholder="Nombre" required="">
                                <div class="invalid-feedback">
                                    El nombre es requerido de forma correcta.
                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-2">
                            <label for="email" class="form-label">Descripcion </label>
                            <textarea name="descripcionGrupo" class="form-control" aria-label="With textarea"
                                placeholder="Introduce una descripción breve de tu grupo" required=""></textarea>
                            <div class="invalid-feedback">
                                Introduce una descripcion.
                            </div>
                        </div>

                        <div class="col-6 mt-2">
                            <label class="form-label">Color</label>
                            <div id="cp3" class="input-group colorpicker-component">
                                <input type="text" class="form-control" readonly="" name="colorGrupo" />
                                <span class="input-group-text input-group-addon"><i></i></span>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg mb-5" type="submit">Agregar</button>
                </form>
            </main>
        </div>
    </div>
    <!-- Color picker-->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#cp3').colorpicker({
                color: '#0D6EFD',
                format: 'hex'
            });
        });
    </script>
    </script>
</body>

</html>