<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/estilosi.css">
	<title>Informacion</title>
	{{>boots}}
</head>

<body>
	<header class="menu_de_hasta_arriba_muy_cool">
		<div class="contenedor_raro logo-nav-container">
			<a href="/inicio2" class="logo">Wake up Project</a>
			<nav class="navegacion_uwu">
				<ul>
					<li><a href="/">Okuro</a></li>
					<li><a href="/info">Acerca de nosotros</a></li>
					<li><a href="/quejas">Quejas y suejerencias</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main class="main">
		<br><br>
		<div class="contenedor_raro"><br>
			<font size="34">
				<br><br> <br>
				<br><br> <br>
				<br><br>Aqui va el foda UWUWUWUUSWUWUWUW
				<br>
				<br><br>El rafa es mi novio
				<br><br><br>
				<br><br> <br><br> <br>
				<br><br> <br>
			</font>

		</div>
	</main>
</body>

</html>