<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/estilosi.css">
    <title></title>
</head>

<body>
    <header class="menu_de_hasta_arriba_muy_cool">
        <div class="contenedor_raro logo-nav-container">
            <a href="/inicio2" class="logo">Wake up Project</a>
            <nav class="navegacion_uwu">
                <ul>
                    <li><a href="#">Okuro</a></li>
                    <li><a href="/info">Acerca de nosotros</a></li>
                    <li><a href="/quejas">Quejas y suejerencias</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">

        <div class="contenedor_raro"><br>
            <img src="/static/multimedia/elemento3.gif" width="650" height="450">
            <font size="6">
                <br><br><br> <br> ''WAKE UP PROJECT
                <br><br> <br> DONDE &nbsp;EL &nbsp;LIMITE&nbsp; ES
                <br><br> <br> TU &nbsp;&nbsp;&nbsp; IMAGINACION''
                <br><br> <br>
            </font>
        </div>

        <div class="contenedor_raro2">
            <img src="/static/multimedia/elemento1.gif" width="550" height="270">
            <font size="6">
                <br><br><br>

                ''TENEMOS &nbsp; PROGRAMADORES
                <br><br><br> CON &nbsp; ALTOS &nbsp; CONOCIMIENTOS
                <br><br><br> EN&nbsp;&nbsp;&nbsp; MATEMATICAS''
                <br><br>
            </font>
        </div>

        <div class="contenedor_raro">
            <img src="/static/multimedia/elemento2.gif" width="650" height="360">
            <font size="6">
                <br><br><br>
                ''Nuestros programadores
                <br><br><br> son expertos en
                <br><br><br> diferentes lenguajes"
                <br><br>
            </font>
        </div>

    </main>


</body>

</html>