<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Okuro - Registro</title>
    <link rel="icon" href="imagenes/logo.ico" type="image/png" />
    <link rel="stylesheet" href="css/style2.css">
</head>

<body>
    {{>animacion}}
    <div class="wrapper">
        <div class="rec-prism">
            <div class="face face-front">
                {{#if message}}
                <h6 style="margin: 0;">
                    {{message}}
                </h6>
                {{/if}}
                <div class="content">
                    <h2>Registrar</h2>
                    <form action="/auth/register" method="POST" enctype="multipart/form-data">
                        <div class="field-wrapper small">
                            <input type="text" name="name" placeholder="Nombre">
                            <label>Nombre</label>
                        </div>
                        <div class="field-wrapper small">
                            <input type="text" name="lastName" placeholder="Apellido">
                            <label>Apellido</label>
                        </div>
                        <div class="field-wrapper small">
                            <input type="text" name="email" placeholder="email">
                            <label>Email</label>
                        </div>
                        <div class="field-wrapper small">
                            <input type="password" name="password" placeholder="Contraseña">
                            <label>Contraseña</label>
                        </div>
                        <div class="input__row uploader small">
                            <div id="inputval" class="input-value">Selecciona una imagen</div>
                            <label for="file_1"></label>
                            <input id="file_1" class="upload" type="file" name="archivo" accept="image/png, image/jpeg">
                        </div>
                        <div class="field-wrapper small">
                            <input type="submit" onclick="showThankYou()">
                        </div>
                        <span class="singin" onclick="showSignup()">Ya te registrarse? Logueate</span>
                    </form>
                </div>
            </div>
            <div class="face face-right">
                <div class="content">
                    <h2>Login</h2>
                    <form action="/auth/login" method="POST">
                        <div class="field-wrapper normally">
                            <input type="text" name="username" placeholder="email">
                            <label>Email</label>
                        </div>
                        <div class="field-wrapper normally">
                            <input type="password" name="password" placeholder="Contrasena" autocomplete="new-password">
                            <label>Contraseña</label>
                        </div>
                        <div class="field-wrapper normally">
                            <input type="submit">
                        </div>
                        <span class="signup" onclick="showLogin()">Registrate aqui!</span>
                    </form>
                </div>
            </div>
            <div class="face face-bottom">
                <div class="content">
                    <div class="thank-you-msg">
                        <span class="singin" onclick="showLogin()">Logueate</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/script.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript">
        $('#file_1').on('change', function () {
            $('#inputval').text($(this).val());
        });
    </script>

</body>

</html>