*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
    }
    body{
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 90rem;
     background-position: top;
     background-image:url();
     width: 10%;
     height: 10%;
     font-family: Arial, Helvetica;
     letter-spacing: 0.02rem;
     font-weight: 400px;
    }
   
    .Supra-Container{
     width: 100%;
     max-width: 1000px;
     background-color: #FF712B ;
     margin: auto;
     margin-top: 88px;
    }
    header{
     width: 100%;
     height: 60px;
     position: fixed;
     left: 0;
     top: 0;
     background-color: #FF712B;
    }
    #check{
     
    }
    #check:checked ~.menu{
        width: 300px;
    }
    .menu{
     position: fixed;
     top: 60px;
     width: 0px;
     height: 100vh;
     background-color: #383838;
     transition: all 300ms;
     overflow: hidden;

    }
    .menu li {
        padding: 20px;
        color:white;
        cursor: pointer;
        transition: all 300ms;
        display: block;
        width: 400px,
    }
    .menu li:hover{
        background: rgba(0,0,0,0.2);

    }
    .Supra-Container label{
     position: fixed;
     width: 100%;
     max-width: 1000px;
     top: 15px;
     font-size: 26px;
     color: white;
     cursor: pointer;
     z-index: 10;
    }