body{
	background: white;	
	font-family: ONE DAY;
	font-size: 1rem;
	line-height: 1.3em;
	margin: 0;
}
p {
	margin-bottom: 1.6em; 
}
.contenedor_raro {
	width:90%;
	max-width: 1200px;
	margin: auto;
/*centrar el texto y ajustarlo */
}
.contenedor_raro img{
	float: left;
	margin-right: 100px;
	margin-bottom: 50px;

}
.contenedor_raro2 {
	width:90%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 6rem 0;
/*centrar el texto y ajustarlo */
}
.contenedor_raro2 img{
	float: right;
	margin-left: 100px;
	margin-bottom: 50px;

}
.contenedor_raro3 {
	width:90%;
	max-width: 1200px;
	margin: auto;
/*centrar el texto y ajustarlo */
}
.contenedor_raro3 img{
	float: left;
	margin-right: 100px;
	margin-bottom: 50px;
}
.menu_de_hasta_arriba_muy_cool{
	background: #000000;
	color:rgb(197, 206, 255);
	padding: 2rem 0; /*centra los elementos a 2 rem de altura*/
	position: fixed;
	left:0;
	top:0;
	width: 100%;
}
.menu_de_hasta_arriba_muy_cool a {
	color:rgb(197, 206, 255);
	text-decoration: none; /* sin el subrayado uwuwu*/

}
.logo-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.navegacion_uwu ul{
	margin: 0;
	padding:  0;
	list-style: none; /*quita el margen y las viñetas*/
}
.navegacion_uwu ul li{
	display: inline-block;
}
.navegacion_uwu ul li a{
	padding: 0.5rem 1rem;
	transition: all 0.3s linear;
	border-radius: 0%;
	width:200px;
    height:200px;
    border: solid 3px #000000;
    overflow:hidden;
	 /*cosas de las animaciones como borde o canto dura*/ 

}
.navegacion_uwu ul li a:hover {
	background: #000000;
	border: solid 3px #ffffff;
}
.logo{
	letter-spacing: 15px;
	font-size: 1.3rem;
}
.main{
	padding-top: 6rem; 
	 /*espacio del menu a al texto*/ 
}
.box select{
	padding: 10px;
	width: 250px;
	font-family: ONE DAY;
	cursor: pointer;
}
.contenedor_raro button{
    border: none;
    color: rgb(197, 206, 255);
	font-size: 15px;
	font-family: ONE DAY;
    background: black;
    padding: 10px 15px;
    border-radius: 0px;
	cursor: pointer;
}
.contenedor_raro button:hover{
    transition: all 0.1s linear;
    border-radius: 10px;

}
.fondo_inicio button:hover{
	transition: all 0.1s linear;
	border-radius: 0px;
	border: solid 3px #000000;
	font-size: 20px;


}
.fondo_inicio button{
    border: none;
    color: rgb(0, 0, 0);
	font-size: 15px;
	font-family: ONE DAY;
    background: rgb(250, 252, 255);
    padding: 10px 15px;
    border-radius: 0px;
	cursor: pointer;
	border: solid 3px#00000000;
	font-size: 20px; 

}


.login{
	font-size:large;
	margin-top: 130px;
	margin-bottom: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	height: 100%;
  }
  .fondo_inicio{
	width: 70%;
	font-size:x-large;
	background-color:rgb(250, 252, 255);
	border:solid 2px  #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	border-radius: 5px;
	margin-top: 2rem;
    margin-left: 12rem;
  }
  .fondo_inicio h2{
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: x-large;
	margin-bottom: 20px;
  }

  .cuadrito_texto{
	background-color:rgb(250, 252, 255);
	width: 90%;
	margin-bottom: 35px;
	height: 30px;
	border: solid 2px rgba(0, 0, 0, 0.5);
	font-size: 20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: right;
  }
  .fondo_inicio p{
	color:  rgb(0, 0, 0); 
}
textarea {
	resize: none;
  }